<%= form_for @day_part, :html => { :class => "form-horizontal day_part" } do |f| %>

  <% if @day_part.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@day_part.errors.count, "error") %> prohibited this day_part from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @day_part.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :location_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <%= f.grouped_collection_select :location_id, Brand.all, :locations, :name, :id, :name, include_blank: true %>
    </div>
    <%=f.error_span(:location_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                day_parts_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
