<%= form_for [@menu_item, @price] do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= f.label :location_id %></th>
          <th><%= f.label :day_part_id %></th>
          <th><%= f.label :order_type_id %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= collection_select(:price, :location_id, @menu_item.brand.locations, :id, :name, :prompt => "Select the Location", :class => 'form-control') %></td>
          <td><%= f.grouped_collection_select(:day_part_id, @menu_item.brand.locations, :day_parts, :name, :id, :name, :prompt => "Select the Day Part", :class => 'form-control') %></td>
          <td><%= collection_select(:price, :order_type_id, @menu_item.brand.order_types, :id, :name, :prompt => "Select the type of Order", :class => 'form-control') %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="field">
    <%# byebug %>
    <% f.hidden_field :menu_item_id, value: @menu_item %>
  </div>

  <% @price_levels.each do |pl| %>
    <div class="field">
      <%= "Price for #{pl.name}" %>
      <%= f.text_field :value, multiple: true %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
