<div class="page-header">
  <h1>Price Lookup</h1>
  <h3><%= "#{@item.brand.name}" %></h3>
  <h4><%= "Item: #{@item.name}" %></h4>
</div>

<% unless @order_type.nil? %>
  <%= "Order type: #{@order_type.name}" %> <br/>
<% end %>
<% unless @day_part.nil? %>
  <%= "Day part: #{@day_part.name}" %> <br/>
<% end %>
<br />

<h4>
  <%= "Price: #{number_to_currency(@price.value)}" %><br/>
</h4>
