<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @price.value %>
</p>

<p>
  <strong>Menu item:</strong>
  <%= @price.menu_item.name %>
</p>
<!-- 
<p>
  <strong>Location:</strong>
  <%= @price.location.name %>
</p>

<p>
  <strong>Order type:</strong>
  <%= @price.order_type.name %>
</p>

<% unless @price.day_part.nil? %>
<p>
  <strong>Day part:</strong>
  <%= @price.day_part.name  %>
</p>
<% end %> -->

<%= link_to 'Edit', edit_menu_item_location_price_path(@menu_item, @location, @price) %> |
<%= link_to 'Back', menu_item_locations_path(@menu_item) %>
