<h2><%= "#{@location.brand.name}'s #{@location.name}"%> Price Level Associations</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Price Level</th>
      <th>Order Type</th>
      <th>Day Part</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @price_level_associations.each do |price_level_association| %>
      <tr>
        <td><%= price_level_association.price_level.name %></td>
        <td><%= price_level_association.order_type.name %></td>
        <td><%= price_level_association.day_part.name if price_level_association.day_part %></td>
        <td>
          <%= link_to t('.edit', default: t("helpers.links.edit")),
                      edit_location_price_level_association_path(@location, price_level_association),
                      class: 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      location_price_level_association_path(@location, price_level_association),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price level association', new_location_price_level_association_path, class: 'btn btn-success' %>
